<div class="modal fade" id="loginForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" 
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" >
        <div class="modal-content" >
            <div class="modal-header justify-content-center" >
                <h3 class="modal-title "  id="loginFormTitle" style="text-align: center; color:rgb(91, 126, 156) ;">Please Login</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" >
                <div class="container" style="background-color: rgb(190, 223, 252);">
                    <div class="row">
                        <div class="col-md-12">
                            <form method="POST" action="/user/login" autocomplete="off" >
                                <div class="form-group">
                                    <label for="username">Username: </label>
                                    <input type="text" class="form-control" name="username" placeholder="username"
                                        id="username" required autofocus>
                                </div>
                                <div class="form-group">
                                    <label for="password">Password: </label>
                                    <input type="password" class="form-control" name="password" placeholder="password"
                                        id="password" required>
                                    or
                                    <a href="/user/register">Register Here</a>
                                </div>

                                <div class="form-group text-right">
                                    <input type="submit" class="btn btn-success" value="Login">
                                    <a href="/">
                                        <input type="button" class="btn btn-warning" value="Cancel">
                                    </a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
            
        </div>
    </div>
</div>